:root {

    --white: hsl(0, 0%, 100%);
    --nutmeg: hsl(14, 45%, 36%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light-grey: hsl(30, 18%, 87%);
    --wenge-brown: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%);
    --darkraspberry: hsl(332, 51%, 32%);
    }

* {
    margin: 0;
    padding: 0;   

}
body {
   
    background-color: var(--eggshell); /*hintergrund Farbe*/
    color: var(--wenge-brown);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    line-height: 1.4;

 
}

h1, h2 {
    font-family: serif;
    font-weight: 400;
}

h1 {
    color: var(--dark-charcoal);
    font-size: 2.8rem;
}
h2{
    color: var(--nutmeg);
    margin-bottom: 1rem;
}

/*container*/
.container {
    width: 60%;
    height: auto;
    margin: 5%;
    background: var(--white);
    border-radius: 16px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
   
}



.img-container img {
    margin: 40px 10px 0px 40px;
    width: 90%;
    object-fit: cover;
    border-radius: 10px;
    
  
}

/*Omelette*/
.title-omelette{
    margin-left: 30px;
}
.text-1 {
    font-size: 16px;
}
.preparation-time {
    background-color: var(--rose-white);
    margin: 0px 30px 0px 30px;
    padding: 10px;
}

.preparation-time h3 {
    color: var(--darkraspberry); /*Farbe der H§ */
}
.preparation-time li {
    padding: 5px;
    margin-bottom: 5px;
}


.ingredients{
    margin:0px 30px 0px 30px;
}
.ingredients li{
    padding: 5px;
    font-size: 0.9rem;
    font-weight: 400;
}

.instructions{
    margin: 0px 30px 0px 30px;
}

.instructions li {
    padding: 5px;
    font-size: 0.9rem;
}
.ingredients ul li,
.instructions ol li {
    margin-bottom: 5px;
}

.nutrition {
    margin: 0px 30px 0px 30px;
}

.nutrition table {
    border-collapse: collapse;
    width: 100%;
    padding: 20px;
}
.nutrition table td {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    font-size: 0.9rem; 
    font-weight: 500;

}
.nutrition table tr:last-child td {
    border-bottom: none;
}
.caloris {
    color: var(--nutmeg);
    font-weight: 700;
}


.attribution {
      font-size: 11px;
      text-align: center;
}

.attribution a {
      color: hsl(228, 45%, 44%);
}
@media screen and (max-width:400px){
    body{
        width:100%;
    }
    h1{
        color: var(--DarkCharcoal);
        font-size: 1.8rem;
    }
    h2{
        color: var(--Nutmeg);
        margin-bottom: 0.5rem;
    }

    .container{
        width:100%;
        margin: 0px;
        border-radius: 0px;
    }
    .img-container{
        width: 400px;
        margin: 0px;
        padding: 0px;
        border-radius: 0px;
    }
    .img-container img{
        width:100%;
        padding:0px;
        border-radius: 0px;
        margin:0px;
        object-fit: cover;
    }
    .title-omelette {
        width: 300px;
        margin-left: 30px;
        }
        .text-1{
            width:350px;
            font-size: 16px;
        }
        .preparation-time{
            width:300px;
            border-radius: 10px;
        }
        .preparation-time li{
            padding: 5px;
    margin-bottom: 5px;
    font-size: .9rem;
        }

        .ingredients{
            width: 300px;
        }
        .instructions{
            width: 275px;
        }
        .nutrition{
            width:400px;
        }
        .nutrition table {
            border-collapse: collapse; 
            width: 80%; 
            padding: 20px;
        }
.nutrition p{
    font-size: .6rem;
}

        .attribution{
            font-size: 8px;
            text-align: center;
        }
}